<style>
	/* Custom dark navbar styling */
	.navbar-custom {
		background-color: #212529;
		/* Darker shade */
	}

	.navbar-custom .navbar-brand,
	.navbar-custom .nav-link {
		color: #f8f9fa;
		/* Lighter text color */
	}

	.navbar-custom .nav-link:hover {
		color: #ffeb3b;
		/* Highlight links on hover */
	}
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-custom">
	<div class="container-fluid">
		<!-- Brand Name -->
		<a class="navbar-brand" href="{% url 'home' %}">
			<img src="/static/logo.avif" alt="Logo" width="30" height="30" class="d-inline-block align-top">
			Coursemate
		</a>
		<!-- Toggle button for mobile view -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link" href="{% url 'home' %}">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'courses' %}">Courses</a>
				</li>
                <li class="nav-item">
					<a class="nav-link" href="#">QA</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Contact</a>
				</li>
				<!-- Check if user is authenticated and display respective links -->
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile' %}">
						<img src="{{ user.profile.avatar }}" alt="Profile Picture" class="rounded-circle" width="30" height="30">
						{{ user.profile.name }}
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'profile_edit' %}">Edit Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'user' %}">Account</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account_login' %}">Login</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'account_signup' %}?next={% url 'profile_onboarding' %}">Sign Up</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>