{% extends 'layout.html' %}
{% block content %}
	<strong>
		Lorem, ipsum.
	</strong>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum accusamus maxime, asperiores blanditiis minus illum quasi a odit repellat aspernatur fugiat laboriosam officia quo! Recusandae cupiditate placeat mollitia deserunt voluptate enim vitae, facere cumque quae ducimus iusto qui sunt suscipit culpa ratione nisi cum eos ex tempore? Qui rerum dignissimos incidunt quibusdam adipisci aliquam modi voluptatibus nemo blanditiis! Maiores odit impedit et ducimus blanditiis corporis doloremque recusandae veritatis consequuntur ipsa, velit ipsum distinctio laudantium? Temporibus repellat quaerat facere sed ex mollitia expedita quas tempora officiis, quibusdam dicta dolorum! Quod sint odio voluptate placeat commodi ullam harum quo ratione impedit quae.
	</p>
	<small>
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident laboriosam minima dolorem libero maiores voluptas sit facilis molestiae itaque distinctio rem ut quam eius, iure accusantium, tenetur odit voluptatibus. Magnam!
	</small>
{% endblock content %}