{% load static %}
<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="color-scheme" content="light">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

		<link rel="stylesheet" href="{% static 'layout.css' %}">
		<link rel="stylesheet" href="{% static 'footer.css' %}">
		<link rel="stylesheet" href="{% static 'navigation-bar.css' %}">
		<link rel="stylesheet" href="{% static 'chats/chat-form.css' %}">
		<link rel="stylesheet" href="{% static 'chats/chats.css' %}">
		

		<title>Coursemate</title>
	</head>

	<body>
		<section id="navigation-bar">
			{% include 'includes/navigation-bar.html' %}
		</section>
		
		<div id="content">
			{% block content %}
			{% endblock content %}
		</div>
		
		<section id="footer">
			{% include 'includes/footer.html' %}
		</section>

		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'jquery/jquery-3.7.1.min.js' %}"></script>
		<script src="{% static 'chats/chat-form.js' %}"></script>
		
	</body>

</html>